.div_graduacao_unip{
    display: flex;
    background-color: var(--corfundo-secundaria);
    padding: 10px;
    margin: 0 auto; /* centraliza a div na tela */
    width: 500px;
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--bordas);
}