.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj_chamado{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--corfundo-secundaria);
    padding: 20px;
    width: 50%;
    border: solid 2px;
    border-color: var(--bordas);
    border-radius: 10px;
    text-align: center;
    gap: 20px;
}