.div_imagens {
    display: grid;
    justify-items: center; /* centraliza cada imagem na coluna */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* espaço entre as imagens */
    width: 500px;
    margin: 0 auto; /* centraliza a div na página */
}